<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <title><%=title %> </title>
    <link rel="shortcut icon" href="/static/img/partLog.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>
    <!-- header part -->
    <div class="border-bottom container-fluid navbar navbar-expand-sm bg-dark position-fixed w-100 " id="main-nav">
        <a href="/" class="nav-item navbar-brand"><img src="/static/img/partLog.png" width="60" height="55"
                alt="Quiz Zone Logo" srcset=""><span class="font-weight-bold display-2></h1>">Quiz Zone</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
                <a href="/signin" class="nav-item nav-link hideIf">Sign in</a>
                <a href="/signup" class="nav-item nav-link hideIf">Sign up</a>
                <span class="nav-item nav-link text-primary showIf"><i class="far fa-user-circle fa-sm" id="username">
                        &nbsp;Username</i></span>
                <span class="nav-item nav-link text-primary showIf"><a href="/signout"><i
                            class="fas fa-sign-out-alt fa-sm" aria-hidden="true">&nbsp;Sign out</i></a></span>
            </div>
        </div>
    </div>
    <!-- this is the body part -->

    <%- body %>

    <!-- this is the script part -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/dashboard.js"></script>
    <script src="/static/js/teacherAction.js"></script>
    <script src="/static/js/studentAction.js"></script>
    <script src="/static/js/settings.js"></script>
    <script src="/static/js/exam.js"></script>
    <script src="/static/js/timer.js"></script>


</body>

</html>