<div style="z-index:0;">
    <div class="navbar navbar-expand-md navbar-light bg-light border-bottom position-relative">
        <a class="ml-2 btn" id="showMenu"><i class="fa fa-bars"></i></a>
        <div class="navbar-nav ml-auto " id="create-cont">
            <span class="mr-2 btn btn-white createExam"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Create
                Exam</span>

        </div>
    </div>
    <!-- side bar -->
    <div class="collapse border-right position-fixed h-100 bg-dark w" id="sideb">
        <p class="text-left  p-4 dashMenu dashMenuActive"><a href="#" class="text-white">Exams</a></p>
        <p class="text-left  p-4 dashMenu"><a href="#">Schedules</a></p>
        <p class="text-left  p-4 dashMenu"><a href="#">Active Exams</a></p>
        <p class="text-left  p-4 dashMenu"><a href="#">Expired Exams</a></p>
        <p class="text-left  p-4 dashMenu"><a href="#">Settings</a></p>
    </div>

    <div class="row" id="content">
        <div class=" container border bg-info mt-5">
            <div class="container border bg-white mt-5">
                <h2 class="text-center">Title</h2>
                <br>
                <h4>Instruction/s: </h4>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Read the questions carefully and comprehensively. Answer it honestly.
                </p>
            </div>
            <div class="container border bg-white mt-4">
                <h4 class="text-center">Multiple Choice</h4>
                <div class="position-center mb-5">
                    <p>Who invented telescope? </p>
                    <div class="container border">
                        <label class="form-check-label ml-5 p-2">
                            <input type="radio" class="form-check-input" name="optMulti">Alexander Graham Bell<br>
                            <input type="radio" class="form-check-input" name="optMulti">Gallileo Galillie<br>
                            <input type="radio" class="form-check-input" name="optMulti">Nicolas Copernicus <br>
                            <input type="radio" class="form-check-input" name="optMulti">Isaac Newton <br>
                        </label>
                    </div>

                </div>
            </div>
            <div class="container border bg-white mt-4">
                <h4 class="text-center">True or False</h4>
                <div class="position-center mb-5">
                    <p> Marianas trench is the deepest ocean in the world.</p>
                    <div class="container border">
                        <label class="form-check-label ml-5 p-2">
                            <input type="radio" class="form-check-input" name="optTrue">True<br>
                            <input type="radio" class="form-check-input" name="optFalse">False<br>
                        </label>
                    </div>

                </div>
            </div>
            <div class="container border bg-white mt-4 mb-4">
                <h4 class="text-center">Identification</h4>
                <div class="position-center mb-5">
                    <p> Who is the first man who stepped on the moon? </p> <br>
                    <div class="container border">
                        <label class="form-check-label ml-5 p-2">
                            <input type="text" class="form-control" id="usr" placeholder="Input your answer here">
                        </label>
                    </div>
                </div>
            </div>
            <center><button class="btn btn-blue text-dark font-weight-bold mt-4 mb-4" id="submitExam" >Submit Exam</button></center>
        </div>
    </div>

</div>