<div style="z-index:0;">
    <div class="navbar navbar-expand-md navbar-light bg-light border-bottom position-relative">
        <a class="ml-2 btn" id="showMenu"><i class="fa fa-bars"></i></a>
        <div class="navbar-nav ml-auto " id="create-cont">
            <span class="mr-2 btn btn-white createExam"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Create
                Exam</span>

        </div>
    </div>
    <!-- side bar -->
    <div class="collapse border-right position-fixed h-100 bg-dark w" id="sideb">
        <p class="text-left  p-4 dashMenu dashMenuActive"><a href="#" class="text-white">Exams</a></p>
        <p class="text-left  p-4 dashMenu"><a href="#">Schedules</a></p>
        <p class="text-left  p-4 dashMenu"><a href="#">Active Exams</a></p>
        <p class="text-left  p-4 dashMenu"><a href="#">Expired Exams</a></p>
        <p class="text-left  p-4 dashMenu"><a href="#">Settings</a></p>
    </div>


    <div class="container bg-white mt-4">
        <div class="container bg-info border ">
            <div class="text-center">
                <h1>Science</h1>
                <h3>Questions / Answers</h3>
            </div>
            <hr style ="border-bottom: 2px solid white;">
            <div class="container border bg-white mb-4">
                <p> Who is the first man who stepped on the moon? </p>
                <p class="text-right">0 point/s</p>
                <p><b>Correct answer:</b> Neil Armstrong &nbsp;&nbsp;&nbsp; <i class="fa fa-check-circle text-success"></i></p>
                <p><b>Your answer:</b> Edwin Aldrin &nbsp;&nbsp;&nbsp; <i class="fa fa-times-circle text-danger"></i></p>
                <hr>
                <p> Who invented telescope? </p>
                <p class="text-right">1 point/s</p>
                <p><b>Correct answer:</b> Galilleo Galillie &nbsp;&nbsp;&nbsp; <i class="fa fa-check-circle text-success"></i></p>
                <p><b>Your answer:</b> Galilleo Galillie &nbsp;&nbsp;&nbsp; <i class="fa fa-check-circle text-success"></i></p>
                <hr>
            </div>
            <!-- <div class="container border bg-white mb-4">
                <p> Who invented telescope? </p>
                <p><b>Correct answer:</b> Galilleo Galillie &nbsp;&nbsp;&nbsp; <i class="fa fa-check-circle color-green"></i></p>
                <p><b>Your answer:</b> Galilleo Galillie &nbsp;&nbsp;&nbsp; <i class="fa fa-check-circle"></i></p>
            </div> -->
            
        </div>
       
       
           

   

    </div>
</div>