<div style="z-index:0;">
    <div class="navbar navbar-expand-md navbar-light bg-light border-bottom position-relative">
        <a class="ml-2 btn" id="showMenu"><i class="fa fa-bars"></i></a>
        <div class="navbar-nav ml-auto " id="create-cont">
            <span class="mr-2 btn btn-white createExam"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Create
                Exam</span>

        </div>
    </div>
    <!-- side bar -->
    <div class="collapse border-right position-fixed h-100 bg-dark w" id="sideb">
        <p class="text-left  p-4 dashMenu dashMenuActive"><a href="#" class="text-white">Exams</a></p>
        <p class="text-left  p-4 dashMenu"><a href="#">Schedules</a></p>
        <p class="text-left  p-4 dashMenu"><a href="#">Active Exams</a></p>
        <p class="text-left  p-4 dashMenu"><a href="#">Expired Exams</a></p>
        <p class="text-left  p-4 dashMenu"><a href="#">Settings</a></p>
    </div>

    <div class="container">
        <div class="container border bg-info mt-5">
            <div class="container bg-light mt-5 text-center">
                <h1 class="p-3">Check your exam result</h1>
                <h3 class="p-3">Your Score: 20 / 30</h3>
            </div>
            <center><button class="btn btn-blue text-dark font-weight-bold mt-4 mb-4" id="submitExam" >View Summary of Exam</button></center>
        </div>        
    </div>
</div>